body {
    margin: 0;
}

.main {
    margin: 0.5rem;
}

.meandintrowrapper {
    margin: 8rem 4rem;
    display: flex;
    justify-content: center;
}

#root {
    display: flex;
    font-family: sans-serif;
}

.name {
    font-size: 5rem;
}

.intro {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.intro > div {
    margin: 1rem 0;
}
.side {
    margin: 8rem 0;
    min-width: 4rem;
    user-select: none;
}

.side > div {
    writing-mode: tb;
    padding: 1rem 0.4rem;
    font-size: 2rem;
    transition: padding-left 0.3s;
    border-radius: 0 1rem 1rem 0;
    margin: 0 0 5rem;
    display: flex;
    align-items: baseline;

    border: 1px solid #818181;
    border-left: none;
}

.side > div:hover {
    padding-left: 1rem;
    cursor: pointer;
}

.side > div > i,
.side > div > img {
    height: 2rem;
    width: 2rem;
}

.side > div > * {
    margin: 0.5rem 0;
}

.side .sqlimg {
    width: 1.3rem; height: revert;
}

.metricSec {
    margin: 4rem;
    font-size: 2rem;
    border: 1px solid #818181;
    border-radius: 1rem;
    padding: 0.5rem;
}

@media only screen and (max-aspect-ratio: 0.8/1) {
    .main {
        margin: 0.5rem;
    }
    .meandintrowrapper {
        margin: 8rem 1rem;
    }
    .side {
        margin: 8rem 0;
    }
    .intro > div {
        margin: 2rem 0;
    }

    .name {
        font-size: 2rem;
    }
    .intro {
        font-size: 1rem;
    }
    .side > div {
        font-size: 1rem;
    }
    .side > div > i,
    .side > div > img {
        height: 1rem;
        width: 1rem;
    }
    .side {
        min-width: 3rem;
    }

    .side .sqlimg {
        width: 1rem; height: revert;
    }

    .metricSec {
        margin: 0.5rem;
    }
}
